:root {
   --transition: all 0.3s ease-in-out;
}

html {
   scroll-behavior: smooth;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5;
}

/* utility styles */
.width-container {
   max-width: 1400px;
   width: 100%;
   margin: auto;
   padding: 1rem;
}

.section-heading {
   font-size: 40px;
   margin-bottom: 30px;
}

.text-center {
   text-align: center;
}

.flex-row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.flex-box {
   flex: 1 1 400px;
   margin: 0 1.5rem;
}

.grid-row {
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* Home styles */
#home {
   position: relative;
   min-height: 100vh;
   color: #fff;
   background: linear-gradient(
      rgba(27,27,50, 0.6), 
      rgba(27,27,50, 0.9)
   ), url(../images/banner.jpg) no-repeat top/cover;
}

/* Nav Styles */

#nav {
   background: #fff;
   padding: 1rem;
   transition: var(--transition);
}

.sticky-nav {
   position: fixed;
   background: #fff;
}

.nav-container {
   max-width: 1400px;
   margin: auto;
}

.nav-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   color: #333;
}

.nav-toggle {
   background: transparent;
   width: 35px;
   height: 35px;
   border: none;
   outline: none;
   cursor: pointer;
}

.nav-links-container {
   overflow: hidden;
   height: 0;
   transition: var(--transition);
}

.nav-links {
   list-style: none;
}

.nav-link {
   display: block;
   text-decoration: none;
   padding: 1rem;
   color: #333;
   font-weight: 700;
   transition: var(--transition);
}

/* Banner styles */

.banner {
   min-height: 95vh;
   display: grid;
   place-items: center;
}

.banner h1 {
   font-size: 3rem;
   padding-bottom: 1rem;
   margin-bottom: 1rem;
   border-bottom: 1px solid #fff;
}

.banner p {
   font-size: 1.25rem;
   margin-bottom: 1rem;
}

.social-links {
   width: 260px;
   display: flex;
   justify-content: space-between;
}

.social-links a {
   color: rgb(15,15,73);
   background: #fff;
   font-size: 24px;
   width: 50px;
   height: 50px;
   text-align: center;
   padding: 8px 11px;
   border-radius: 50%;
}

/* about-section styles */

#about{
   padding: 40px 0;
   text-align: center;
   color: rgb(15,15,73);
}

.profile-img {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 5px solid #fff;
   box-shadow: 0 0 4px 0 #444;
   margin-bottom: 40px;
}

#about p {
   font-size: 20px;
   margin-bottom: 50px;
   line-height: 2;
}

#about i {
   margin-bottom: 50px;
   color: rgb(26, 29, 53);
}

/* project styles */

#projects {
   padding: 60px 0 40px;
   background-color: rgb(214, 216, 231);
   color: rgb(15,15,73);
}

.project {
   height: 300px;
   max-width: 600px;
   margin: 0 auto 50px auto;
   text-align: center;
   position: relative;
   cursor: pointer;
}

.project-info {
   position: absolute;
   background: rgba(1, 4, 27, 0.8);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 3;
   opacity: 0;
   transition: all 0.2s ease-out;
}

.project-info:hover {
   opacity: 1;
}

.project-info a{
   color: rgb(49,245,206);
   font-size: 24px;
   font-weight: 500;
   text-decoration: none;
   position: absolute;
   height: 100%;
   width: 100%;
   text-align: center;
   top: 0;
   left: 0;
   opacity: 0;
   transition: all 0.2s ease-out;
}

.project-info a:hover {
   opacity: 1;
   transform: translateY(43%);
}

#project-1 {
   background: url(../images/project-1-thumbnail.jpg) no-repeat center/cover;
}

#project-2 {
   background: url(../images/project-2-thumbnail.jpg) no-repeat center/cover;
}

#project-3 {
   background: url(../images/project-3-thumbnail.jpg) no-repeat center/cover;
}

#project-4 {
   background: url(../images/project-4-thumbnail.jpg) no-repeat center/cover;
}
#project-5 {
   background: url(../images/project-5-thumbnail.jpg) no-repeat center/cover;
}
#project-6 {
   background: url(../images/project-6-thumbnail.jpg) no-repeat center/cover;
}

/* footer styles */

#footer {
   color: #fff;
   padding: 40px 0 0;
   background-color: rgb(27,27,50);
}

#footer form {
   width: 100%;
}

.form-group {
   width: 100%;
   margin-bottom: 1rem;
}

#footer form label,
#footer form input,
#footer form textarea {
   display: block;
   width: 100%;
}

#footer form label {
   margin-bottom: 0.25rem;
}

#footer form input {
   font-size: 1rem;
}

#footer form input,
#footer form textarea {
   padding: 0.5rem;
}

#footer .form-btn {
   color: #fff;
   background-color: #007bff;
   font-size: 1rem;
   padding: 0.75rem 1rem;
   border: none;
   border-radius: 5px;
   outline: none;
   cursor: pointer;
   transition: var(--transition);
}

#footer .form-btn:hover {
   background-color: #115ae0;
}

#footer p {
   margin-top: 40px;
   text-align: center;
}

#footer .social-links {
   margin: 30px auto;
}

#footer > p {
   background: rgb(10,10,35);
   margin: 0;
   padding: 10px;
}

@keyframes scale {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(1.1);
   }
}

@media screen and (min-width: 992px) {
   #nav {
      background: transparent;
   }

   .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .logo,
   .nav-link {
      color: #fff;
   }

   .nav-toggle {
      display: none;
   }

   .nav-links-container {
      height: unset;
   }

   .nav-links {
      display: flex;
   }

   .nav-link {
      margin-left: 3rem;
      padding: 0;
   }
}